<%- include('../views/partials/head'); %>
    <%- include('../views/partials/header'); %>
        <%- include('../views/partials/aside'); %>
            <main id="listar-usuarios">
                <!--COLOCAR UM ID DA PAGINA-->

                <div class="lista-usuarios-itens">
                    <div class="search-users-form">
                        <form action="/usuarios" method="GET">
                            <div class="input-group buscar-input-group">
                                <label for="buscaUsuario">Label</label>
                                <input class="buscar-input-field" type="text" name="buscaUsuario" id="input-texto" value="<%= nome %>"
                                    placeholder="Buscar usuário">
                            </div>
                            <button type="submit" class="btn btn-orange">Buscar</button>
                        </form>
                    </div>                   
                    <% if(amigosA.length > 0) { %>
                    <% for(let amigo of amigosA){%>
                    
                        <div class="lista-usuarios-item">
                           
                                <img src="<%=amigo.img_user%>" alt="imagem do usuário">
                                <a href="#" class="usuario-nome">
                                    <%=amigo.nome%>
                                </a>
                                <a class="btn btn-blue btn-seguir" href="/usuarios/<%= amigo.usuarios_id %>/seguirAmigos"> + Seguir</a>
                                    
                        </div>
                        <%}%>
                    <%} else { %>
                        <div >Nenhuma perfil encontrado</div>
	                <% } %>


                   


                </div>


            </main>

            </div>


            </body>

            </html>