<%- include('../views/partials/head'); %>
    <%- include('../views/partials/header'); %>
        <%- include('../views/partials/aside'); %>
            <main>

                <div class="container container-feed">
                    <!--COLOCAR UM ID DA PAGINA-->
                    <!--AQUI VAI O CÓDIGO DE CADA PÁGINA-->
                    <section class="card-postagem">
                        <div class="title card-postagem-titulo">
                            <i id="post-edit-icon" class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            <p class="text">O que <%= usuario.nome_usuario %> está fazendo ?</p>
                        </div>
                        <form class="formulario-postagem"method="POST"action="/posts"enctype="multipart/form-data">
                            <div class="input-group">
                                <label for="insert-post">Label</label>
                                <textarea name="insert-post" id="insert-post" cols="30" rows="10"></textarea>
                            </div>
                            <div class="form-post-group-btn">
                                <div class="btn-media-group">

                                    <imput type="file" name="files"></imput>

                                    <button type="submit" name="files"id="btn-camera" class="btn-insert-media">
                                        <i class="fas fa-camera"></i>
                                    </button>

                                    <button id="btn-play" class="btn-insert-media">
                                        <i class="fas fa-play"></i>
                                    </button>

                                </div>

                                <input id="btn-post" class="btn btn-blue" type="button" value="Postar">


                            </div>
                        </form>

                    </section>

                    <% JSON.stringify(public) %>
                        <% for(let publicacao of public){ %>
                            <section class="card-feed">
                                <div class="header-feed card-feed-header">
                                    <div class="img-user" id="user-text">
                                        <img src="<%= publicacao.img_pub %>" alt="imagem-usuario">
                                        <div class="card-feed--header-text">
                                            <a class="user-name-card"><%= perfil.nome %></a>
                                            <p class="text-feed">
                                                <%= publicacao.texto %>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="image-feed">
                                    <img id="imgId" src="<%= publicacao.img_pub %>" alt="image-feed">
                                </div>

                                <div class="feed-comentarios">
                                    <button class="heart-feed-button">
                                        <i class="fas fa-heart"></i>
                                    </button>

                                    <p class="likes">50 Likes</p>
                                    <a class="comentarios">3 Comentários</a>
                                </div>

                            </section>
                            <% } %>

                </div>
            </main>

    </body>

</html>